<div class="list-group">
  <%= link_to "Account Settings", edit_user_registration_path, :class => 'list-group-item active' %>
  <%= link_to "Profile Details", account_path, :class => 'list-group-item' %>
  <%= link_to "Video Details", videos_path, :class => 'list-group-item' %>
  <%= link_to "Picture Details", pictures_path, :class => 'list-group-item' %>
</div>