<p>Hi <%= @user.username %>,</p>

<p>Thank you for submitting a video. You may now share this video to your friends</p>

<p>Visit <%= link_to @url, "http://awesomepv.com/" %> to watch more awesome video & picture!</p>

<p>Thank you!</p>