<%= form_tag(posts_path, method: "get", class: 'form-search') do %>
  <%= text_field_tag(:q, params[:search], class: 'input-medium search-query') %>
  <button type="submit" class="hover-style">Search</button>
<% end %>