<section class="container">
	<div class="tweets resize">
		<i class="fa fa-twitter"></i>
		<h4>AWESOME PV</h4>
		<p>Are you a morning person or is the night time the right time? Interesting perspectives on the forum - <a href="#" class="tweet-link">http://t.co/tdEHlbZf</a> <span class="tweet-date">Nov 04, 2013</span></p>
	</div>
</section>