<section class="container">
	<div class="tweets resize">
		<i class="fa fa-twitter"></i>
		<h4>AWESOME PV</h4>
		<p>V2 our website design has been released to all. Please do let us know what is your comment! <a href="https://twitter.com/awesome_pv" class="tweet-link">@awesome_pv</a> <span class="tweet-date">Sept 07, 2014</span></p>
	</div>
</section>