<div class="list-group">
  <%= link_to admin_user_path, :class => 'list-group-item active' do %>
    <h5>User Details</h5>
    <p class="list-group-item-text">Manage user account details</p>
  <% end %>
</div>