<!-- Footer -->
<footer id="apvFooter">
  <div class="container">
    <div class="row">
      <div class="col-xs-4 col-md-4">
        <div class="pull-left">
          <ul class="list-inline nomar">
            <li class="m-r-md nopad"><a href=""><%= t(:contact) %></a></li>
            <li class="m-r-md nopad"><a href=""><%= t(:subscribe) %></a></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-4 col-md-2 col-md-offset-2">
        <div class="back-top" title="Top of Page">
          <span class="glyphicon glyphicon-arrow-up"></span> <%= t(:backTotop) %>
        </div>
      </div>
      <div class="col-xs-4 col-md-4">
        <div class="pull-right">
          <%= t(:copyright) %>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer End -->