<!-- Display Disqus Comment Count -->
<script type="text/javascript">
var disqus_shortname = 'awesomevideos';

(function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = '//' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>

</div>
<!--WRAPPER END-->


<footer class="footer">
	<section class="home">
		<div class="container">
			<li><%= link_to "Home", root_path, :class => 'home' %></li>
			<li><%= link_to "Back to Top", "#", :class => 'top scroll-topp' %></li>
		</div>
	</section>
	<section class="container">
		<article class="copyrights">
			<p>Copyright © 2014 AwesomePV. All right reserved. </p>
		</article>
	</section>
</footer>