<!-- Display Disqus Comment Count -->
<script type="text/javascript">
var disqus_shortname = 'awesomevideos';

(function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = '//' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>

<script src="../assets/javascripts/masonry.pkgd.min.js"></script>
<script src="../assets/javascripts/imagesloaded.pkgd.min.js"></script>
<script src="../assets/javascripts/classie.js"></script>
<script src="../assets/javascripts/colorfinder-1.1.js"></script>
<script src="../assets/javascripts/gridScrollFx.js"></script>
<script>
	new GridScrollFx( document.getElementById( 'grid' ), {
		viewportFactor : 0.4
	} );
</script>

<div class="blog-footer">
	<div class="container">
		<p>Copyright &copy 2014. Awesome Videos. All right reserved.</p>
	</div>
</div>