<div class="list-group">
  <%= link_to t(:acc_sett), edit_user_registration_path, :class => 'list-group-item' %>
  <%= link_to t(:profile_details), account_path, :class => 'list-group-item active' %>
  <%= link_to t(:video_details), videos_path, :class => 'list-group-item' %>
  <%= link_to t(:picture_details), pictures_path, :class => 'list-group-item' %>
</div>